@tailwind base;
@tailwind components;
@tailwind utilities;
 
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
.banner{
  background-color: rgba(242, 240, 241, 1);
}
.button1{
  transition: .3s;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
nav input{
    background-color:rgba(240, 240, 240, 1);
}
.black{
  background-image: url("/images/blackT.png");
  background-repeat:unset;
  background-size: cover;
}
.jean{
  background-image: url("/images/jeans.png");
  background-repeat:unset;
  background-size: cover;
}
.check{
  background-image: url("/images/checked.png");
  background-repeat:unset;
  background-size: cover;
}
.stripe{
  background-image: url("/images/stripeT.png");
  background-repeat:unset;
  background-size: cover;
}
.vertical{
  background-image: url("/images/verticalstrip.png");
  background-repeat:unset;
  background-size: cover;
}
.orange{
  background-image: url("/images/orangeT.png");
  background-repeat:unset;
  background-size: cover;
}
.shorts{
  background-image: url("/images/shorts.png");
  background-repeat:unset;
  background-size: cover;
}
.blackjean{
  background-image: url("/images/blackjeans.png");
  background-repeat:unset;
  background-size: cover;
}
.casual{
  background-image: url("/images/fashion.png");
  background-repeat:repeat;
  background-size:auto;
}
.formal{
  background-image: url("/images/formal.png");
  background-repeat:repeat;
  background-size:auto;
}
.party{
  background-image: url("/images/party.png");
  background-repeat:no-repeat;
  background-size: cover;
}
.gym{
  background-image: url("/images/gym.png");
  background-size:cover;
  background-repeat:repeat-x;
}